:80 {
	respond "FORTNITE 3!!!!"
}

:8666 {
	root * /media/raids/legalshare
	file_server {
		browse #/home/o/nixos/caddy_file_server.html
		hide node_modules .git ._* .DS_Store
	}
	header ?Access-Control-Allow-Origin *
}
